html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* selection effect  */
h2::selection{
  background-color: #FF865E;
  color: #ffffff;
}
h3::selection{
  background-color: #FF865E;
  color: #ffffff;
}
h4::selection{
  background-color: #FF865E;
  color: #ffffff;
}
p::selection{
  background-color: #FF865E;
  color: #ffffff;
}


/* global styles  */
.btnprimary{
  color: #ffffff;
  background-color: #FF6602;
  border: 10px solid #FF6602;
  border-radius: 5px;
  padding: 8px 18px;
  font-weight: 700;
  font-size: 21px;
  text-transform: uppercase;
  margin: 10px 0px;
}
